ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country={{ wifi_country }}

{% for net in wifi_networks|reverse -%}
network={
    ssid="{{ net.ssid }}"
    psk="{{ net.psk }}"
    id_str="{{ net.str }}"
    priority={{ loop.index }}
    proto=WPA2
    auth_alg=OPEN
    key_mgmt=WPA-PSK
}

{% endfor %}
